<h1>Posts</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Allow Comments</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each posts}}
            <tr>
                <th scope="row">1</th>
                <td>{{_id}}</td>
                <td>{{title}}</td>
                <td>{{status}}</td>
                <td>{{allowComments}}</td>
                <td>
                    <div class="row">
                        <div class="col-sm-3">
                            <a class="btn btn-info" href="/admin/posts/edit/{{_id}}">Edit</a>
                        </div>
                        <div class="col-sm-3">
                            <form action="/admin/posts/delete/{{_id}}?_method=DELETE" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                    
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>